@import "./font.css";
@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

:root {
  --foreground: #111827;
  --primary: #7AC52D;
  --accent: #E5C050;
  --icy-blue: #F9FAFF;
  --yellow-green: #AFE274;
  --steel-gray: #A6A6A6;
  --zest-yellow: #ECE852;
  --tangerine: #F56C2C;
  --spring-green: #29DA6B;
  --creame-white: #F9F8EE;
  --pale-lime: #E3F0AF;
  --cool-gray: #AAAAAA;
  --cloud-gray: #DEDEDE;
  --midnight-blue: #071A34;
  --pearl-gray: #EAEAEA;

  --ease-1: cubic-bezier(0.86, 0, 0.07, 1);
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-icy-blue: var(--icy-blue);
  --color-yellow-green: var(--yellow-green);
  --color-steel-gray: var(--steel-gray);
  --color-zest-yellow: var(--zest-yellow);
  --color-tangerine: var(--tangerine);
  --color-spring-green: var(--spring-green);
  --color-creame-white: var(--creame-white);
  --color-pale-lime: var(--pale-lime);
  --color-cool-gray: var(--cool-gray);
  --color-cloud-gray: var(--cloud-gray);
  --color-midnight-blue: var(--midnight-blue);
  --color-pearl-gray: var(--pearl-gray);

  --ease-1: var(--ease-1);

  --font-cabinet-grotesk: 'CabinetGrotesk', sans-serif;
}

@layer base {
  body {
    @apply bg-white text-foreground select-none;
  }

  /* img {
    @apply pointer-events-none;
  } */
}

@utility before-hover-transform-link {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset-inline: 0;
    bottom: -2px;
    height: 2px;
    icy-blue-color: var(--primary);
    transform: scale(0, 1);
    transition: transform 500ms var(--ease-1);
    transform-origin: top right;
  }

  &:hover::before {
    transform: scale(1, 1);
    transform-origin: bottom left;
  }
}

@utility button-primary {
  @apply cursor-pointer bg-primary hover:bg-primary/90 text-white px-2.5 h-10 rounded-[10px] font-bold shadow-[4px_4px_0_var(--yellow-green)] transition-colors;
}

@utility hide-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }
}
